/*!
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

// using a different class than server
// remember to import this scss file into your app
.toastify.dialogs {
	min-width: 200px;
	background: none;
	background-color: var(--color-main-background);
	color: var(--color-main-text);
	box-shadow: 0 0 6px 0 var(--color-box-shadow);
	padding: 0 12px;
	margin-top: 45px;
	position: fixed;
	z-index: 10100;
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	min-height: 50px;

	.toast-undo-container {
		display: flex;
		align-items: center;
	}

	.toast-undo-button,
	.toast-close {
		position: static;
		overflow: hidden;
		box-sizing: border-box;
		min-width: 44px;
		height: 100%;
		padding: 12px;
		white-space: nowrap;
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
		min-height: 0;

		// icon styling
		&.toast-close {
			text-indent: 0;
			opacity: .4;
			border: none;
			min-height: 44px;
			margin-left: 10px;
			font-size: 0;

			/* dark theme overrides for Nextcloud 25 and later */
			&::before {
				background-image: url('./close.svg');
				content: ' ';
				filter: var(--background-invert-if-dark);

				display: inline-block;
				width: 16px;
				height: 16px;
			}
		}

		&.toast-undo-button {
			$margin: 3px;
			margin: $margin;
			height: calc(100% - 2 * #{$margin});
			margin-left: 12px;
		}

		&:hover, &:focus, &:active {
			cursor: pointer;
			opacity: 1;
		}
	}

	&.toastify-top {
		right: 10px;
	}

	// Toast with onClick callback
	&.toast-with-click {
		cursor: pointer;
	}

	// Various toasts types
	&.toast-error {
		border-left: 3px solid var(--color-error);
	}

	&.toast-info {
		border-left: 3px solid var(--color-primary);
	}

	&.toast-warning {
		border-left: 3px solid var(--color-warning);
	}

	&.toast-success {
		border-left: 3px solid var(--color-success);
	}

	&.toast-undo {
		border-left: 3px solid var(--color-success);
	}

	&.toast-loading {
		border-left: 3px solid var(--color-primary);

		&::after {
			background-image: url('./loader.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-color: transparent;
			content: ' ';
			display: inline-block;
			width: 20px;
			height: 20px;
			animation: rotate var(--animation-duration, 0.8s) linear infinite;
			margin-left: auto;
		}
	}
}

/* dark theme overrides for Nextcloud 24 and earlier */
.theme--dark {
	.toastify.dialogs {
		.toast-close {
			/* close icon style */
			&.toast-close::before {
				background-image: url('./close-dark.svg');
			}
		}
	}
}
